.myoption{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 60%;
    height: 35px;
    margin: auto;
    font-size: 26px;
    display:flex;
    margin-bottom: 10px;
    flex-direction: row-reverse;
   
}
.add{
font-size: 20px;
width:130px;


}